#live영상{
	width:750pt;
	height:100pt; 	
	top:180px;
	left:30px;
	position:absolute;
}
#과거영상{
		top:350px;
		left:30px;
		width:750pt;
		height:100pt;
		position:absolute;
}
#과거결과{
	top:520px;
    left:30px;
	width:750pt;
	height:100pt;
	position:absolute;
}
#사용자등록{
	top:690px;
	left:30px;
	width:750pt;
	height:100pt;
	position:absolute;
}

#사용자삭제{
	top:860px;
	left:30px;
	width:750pt;
	height:100pt;
	position:absolute;
}
