<header>
    <div class="head-wrap">
        <div class="head-wrap-inner">
            <h1><a href="">CCTV 관리 서비스</a></h1>
        </div>
        <div class="head-wrap-sub">
            <nav class="head-menu-main-nav">
                <ul>
                    <li><a href="" disabled>Home</a></li>
                    <li><a href="">CCTV LIVE STREAM</a></li>
                    <li><a href="">과거 영상</a></li>
                    <li><a href="">과거 결과</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>