<!DOCTYPE html>
<html lang="kr">
  <head>
    <title>CCTV Service</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
  </head>
    <body>
        <%- include("./partials/adminHeader.ejs") %> 
	    <form> 
            <%- include("./partials/button.ejs") %>
            <input type="button" id="사용자등록" value="사용자 등록" name="var_value" onclick="location.href='/register'">
	        <input type="button" id="사용자삭제" value="사용자 삭제" name="var_value" onclick="location.href='/DelUser'");
            });">        
        </form>    
    </body>
</html>