<header>
    <div class="head-wrap">
        <div class="head-wrap-inner">
            <h1 style="text-align: left;"><a class="head" href="/admin">CCTV 관리 서비스</a></h1>
            <nav class="head-menu-top-nav">
                <form action="/auth/logout" id="Logout" name="fo" method="POST">     
                    <input class="top-nav01" type="submit" value="logout"></input>
                    <input class="top-nav02" type="button" value="Mypage" onclick="location.href='/adminProfile'"></input>
                </form>
            </nav> 
        </div>
        <div class="head-wrap-sub">
            <nav class="head-menu-main-nav">
                <ul>
                    <li><a href="/admin">Home</a></li>
                    <li><a href="/liveStream">CCTV LiveStream</a></li>
                    <li><a href="/video_past">과거 영상</a></li>
                    <li><a href="video_crime">과거 결과</a></li>
                    <li><a href="/register">사용자 등록</a></li>
                    <li><a href="/DelUser">사용자 삭제</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>