<!DOCTYPE html>
<html lang="kr">
    <head>
        <title>CCTV Service</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css">
        <script language="javascript">
            function time(){
                var time= new Date(); //시간받기위해서 new date
                document.getElementById("now").innerHTML=time.getHours()+"시"+time.getMinutes()+"분"+time.getSeconds()+"초";
                setInterval("time()",1000);     //1초 지난후 time()실행
            }
        </script>
    </head>
    <body onload="time()">
        <%- include("./partials/adminHeader.ejs") %>
        <img id="image"  width="1080" height="720">
            <script src="/socket.io/socket.io.js"></script>
            <script>
                const socket = io.connect('http://localhost:8001/', { transports: ['websocket'] });
                socket.on('image', (image) => {
                    const imageElem = document.getElementById('image');
                    imageElem.src = `data:image/jpeg;base64,${image}`;
            });
            </script>
            <table border="1" id="info" >
                <tr>
                    <td>장소: </td>
                    <td>시간: <span id="now" ></span></td>
                    <td>폭력 확률: <span id="violence_pred" ></span></td>
                    <td>비폭력 확률: <span id="non_violence_pred" ></span></td>
                    <td>결과 : <span id="pred_result" ></span></td>
                    <script src="/socket.io/socket.io.js"></script>
                    <script>
                        let violence_pred;
                        let non_violence_pred;
                        socket.on('viol_pred', (pred_data) => {
                            violence_pred = pred_data;
                            document.getElementById("violence_pred").innerHTML = pred_data;
                        });
                        socket.on('non_viol_pred', (non_pred_data) => {
                            non_violence_pred = non_pred_data;
                            document.getElementById("non_violence_pred").innerHTML = non_pred_data;

                            if(non_violence_pred > violence_pred) {
                            document.getElementById("pred_result").innerHTML = "평시 상황";
                            } else {
                                document.getElementById("pred_result").innerHTML = "폭력 상황";
                            }
                        });

                        
                    </script>
                </tr>
            </table>
            <%- include("./partials/footer.ejs") %> 
    </body>
</html>