<!DOCTYPE html>
<html lang="kr">
    <head>
        <title>CCTV Service</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <%- include("./partials/userHeader.ejs") %>
        <hr>   
	    <form> 
            <%- include("./partials/button.ejs") %>        
        </form>
        <%- include("./partials/footer.ejs") %>     
    </body>
</html>