  
:root {
     --color-beige:#f6f5ee;
     --color-font-black: #333;
     --color-font-light-black: #555;
     --color-font-green: #669900;
     --temp-border :solid 0px black;
     --font-family : normal Avenir, Arial, georgia;
     --body-background-color: #e5e6e7;
     --border-gray-color:#dadada;
}
        
* {
   margin: 0;
   padding: 0;
   color:var(--color-font-black);
   font-family: var(--font-family);
}

body{
    background-color: var(--body-background-color);
    width: 100%;
}
header{
    border-top: solid 2px black;
    background: var(--color-beige);
    position: fixed;
    top:0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .head-wrap{
    border:var( --temp-border);
    height: 120px;
    width: 100%;
}
        
header .head-wrap .head-wrap-inner{
    height: 120px;
    width: 100%;
    position: relative;
    border:var( --temp-border);
}

header .head-wrap .head-wrap-inner .head-menu-top-nav{
    position: absolute;
    right:100px;
    top:21px;
}

header .head-wrap .head-wrap-inner .head-menu-top-nav form{
    list-style: none;
}
            
header .head-wrap .head-wrap-inner .head-menu-top-nav input{
    float: left;
    color: var( --color-font-light-black);
    font-size: 13px;
    text-align: center;
    height: 20px;  
    border:var( --temp-border);
}
        
header .head-wrap .head-wrap-inner .head-menu-top-nav form .top-nav01{
    width:150px;
    background-color: var(--color-beige);
}
header .head-wrap .head-wrap-inner .head-menu-top-nav form .top-nav02{
    width:150px;
}
            
header .head-wrap-sub{
    position: absolute;
    top:60px;
    width: 100%;
    height: 66px;
    border:var( --temp-border);
}
            
header .head-wrap-sub{
    display: flex;
    justify-content: flex-end;
}
            
header .head-wrap-sub ul{
    list-style: none;
    width: 1000px;
    display: flex;
    justify-content:space-between;
    border:var( --temp-border);
}
            
header .head-wrap-sub ul li{
    text-align: center;
    flex: auto;
}
            
header .head-wrap-sub ul li a{
    text-decoration: none;
    display: block;
    border:var( --temp-border);
    text-transform: uppercase;
    font-size: 13px;
    padding-top: 10px;
    height: 66px;
} 
            
header .head-wrap-sub ul li a:hover{
    text-decoration: underline;
    background-color: #2c2a29;
    color:var( --color-font-green);
}

#register{
    top:150px;
      left:30px;
      width:750pt;
      height:100pt;
      position:absolute;
  }
#info{
    top:860px;
    left:30px;
    width:750pt;
    height:100pt;
    position:absolute;
}
#table_layout{
    top:150px;
    left:30px;
    width:750pt;
    height:100pt;
    position:absolute;
}
#Login{
    top:150px;
     left:30px;
    width:750pt;
    height:100pt;
    position:absolute;
}
input[type = button]{
    border: solid 1px var(--color-beige);
    background-color: var(--color-beige);
}

#live영상{
    width:650pt;
    height:100pt; 	
    top:180px;
    left: 50%;
    margin-left: -325pt;
    position:absolute;
}
#과거영상{
    top:350px;
    width:650pt;
    height:100pt;
    position:absolute;
    left: 50%;
    margin-left: -325pt;
}
#과거결과{
    top:520px;
    width:650pt;
    height:100pt;
    position:absolute;
    left: 50%;
    margin-left: -325pt;
}
#사용자등록{
    top:690px;
    width:650pt;
    height:100pt;
    position:absolute;
    left: 50%;
    margin-left: -325pt;
}
#사용자삭제{
    top:860px;
    width:650pt;
    height:100pt;
    position:absolute;
    left: 50%;
    margin-left: -325pt;
}

#Login{
    width:470px;
    height:250px;
    left: 50%;
    top: 50%;
    margin-top: -125px;
    margin-left: -235px;
    position: absolute;
}
.login-input-section-wrap{
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
    padding-left:20%;
}
.login-input-wrap{
	width: 465px;
	height :48px;
	border: solid 1px var(	--border-gray-color );
	background: white;
}
.password-wrap{
	margin-top: 13px;
}
.login-input-wrap input{
	border: none;
	width:430px;
	margin-top: 10px;
	font-size: 14px;
	margin-left: 10px;
	height:30px;
}
.login-button-wrap {
	padding-top: 13px;
}
.login-button-wrap input{
	width: 465px;
	height :48px;
	font-size: 18px;
	background: var(--color-beige);
	color: var(--color-font-black);
	border: solid 1px var(--color-beige);
}
.login-auth{
	width: 465px;
	height: 52px;
	display: flex;
	font-size: 15px;
	color: #4e4e4e;
	align-items: center;
	justify-content: flex-start;
	border-bottom: solid 1px var(--border-gray-color);
}
.login-auth i{
	font-size: 25px;
	color: #9ba1a3;
}
.login-auth span{
	padding-left: 5px;
	line-height: 25px;
}
.button-table{
    margin: 0;
    padding: 0;
    text-align: center;
}
footer {
    position: absolute;
    top: 100%;
    width: 100%;
	padding: 15px 0;
	text-align: center;
	color: var(--color-font-black);
}
.cctv-vector-image{
    top: 300px;
    left: 300px;
}

.svg-div{
    width: 160px;
    height: 160px;
    top: 250px;
    left: 50%;
    margin-left: -80px;
    position: absolute;
}

.svg-div .cctv-vector-image{
    width: 160px;
    height: 160px;
}
