<!DOCTYPE html>
<html lang="kr">
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/header.ejs") %>
        <div id ="table_layout">
            <table border="0">
                <thead>
                    <tr>
                        <th>id(사번)</th>
                        <th>이름</th>
                        <th>부서</th>
                        <th>직책</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>               
                    </tr>
        
                    <td><input type="submit" value="삭제"><input type="reset" value="초기화"><input type="button" value="취소" onclick="location.href='admin.html'"></td>
                </tbody>
            </table>
        </div>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>