<!DOCTYPE html>
<html lang="kr">
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/header.ejs") %>
        <h1>CCTV 서비스 로그인</h1>
        </hr>
        <form name="fo" method="get">
          <input type="text" size="15" placeholder="아이디">
          <br>
          <input type="password" size="15" placeholder="비밀번호">
          <input type="submit" value="로그인">
          <br>
          <input type="radio" name="admin" value="1" checked> 관리자
          <input type="radio" name="user" value="2"> 사용자
        </form>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>