<!DOCTYPE html>
<html lang="kr">
  <head>
    <title>CCTV Service</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <%- include("./partials/loginHeader.ejs") %>
    <form id="Login" name="fo" method="get">
       <input type="text" size="15" placeholder="아이디">
        <br>
        <input type="password" size="15" placeholder="비밀번호">
        <input type="submit" value="로그인">
        <br>
        <input type="radio" name="auth" value="1" checked> 관리자
        <input type="radio" name="auth" value="2"> 사용자
    </form>  
  </body>
</html>