{% extends 'layout.html' %}

{% block content %}
<h1><a href="main.ejs">CCTV 서비스</a></h1>
<hr>   
<form> 
    <input type="button" id="live영상" value="CCTV Live Stream" name="var_value" onclick="location.href='livestream.html'">
	<input type="button" id="과거영상" value="과거 영상(전체 영상)" name="var_value" onclick="location.href='https://ejnu-my.sharepoint.com/:f:/g/personal/183097_jnu_ac_kr/EtEKiq9VlCtLtpMcvSIQAzYBlCB6NNGuhJvlRauk3q1_xw?e=WW7FPq'">
    <input type="button" id="과거결과" value="과거 결과(범죄 영상)" name="var_value" onclick="location.href='https://ejnu-my.sharepoint.com/:f:/g/personal/180502_jnu_ac_kr/Eq5YADN0WAZMgPPm-oe-8G8BNTUCIzPALVTZGIiNUuGofA?e=zKNvqn'">
</form>
{% endblock %}