<!DOCTYPE html>
<html lang="kr">
    <%- include("./partials/head.ejs") %>
    <body>
      <%- include("./partials/header.ejs") %>
      <form id="register" name ="fo" method="get">
        <fieldset>
          <legend> 사용자 등록 </legend>
          <div class ="table_layout">
            <table border="0">
              <colgroup>
                <col width="25%"/>
                <col width="25%"/>
                <col width="25%"/>
                <col width="25%"/>
              </colgroup>
              <tbody>
                <tr>
                  <th>ID</th>
                  <td> <input type="text" name="id" maxlength="50" disabled></td>
                  <td> *ID는 사번으로 자동 배정됩니다.</td>
                </tr>
                <tr>
                  <th>*비밀번호</th> 
                  <td><input type="password" size="20" placeholder="password" required></td>
                  <th>*비밀번호 확인</th>
                  <td><input type="password"placeholder="password" required></td>
                </tr>
                <tr>
                  <th>*이름</th>
                  <td><input type="text" size="20" placeholder="User Name" required></td>
                  <th>전화번호</th>
                  <td><input type="tel" placeholder="010-1234-5678"></td>
                </tr>
                <tr>
                  <th>부서</th>
                    <td>
                      <select name="department">
                        <datalist id="department">
                          <option value="1" selected>CCTV 사용자</option>
                          <option value="2">CCTV 관리자</option>
                          <option value="3">데이터베이스 관리자</option>
                        </datalist>
                    </td>
                    <th>직책</th>
                    <td>
                      <select name="position">
                        <datalist id="position">
                          <option value="1" selected>부서장</option>
                          <option value="2">부서원</option>
                        </datalist>
                    </td>
                </tr>
                <tr>
                  <th>생일</th>
                    <td><input type="date" id='currentDate' required></td>
                    <th>권한</th>
                    <td><input type="radio" name="authority" value="0">관리자
                    <input type="radio" name="authority" value="1" checked>사용자</td>                 
                </tr>
                <td><input type="submit" value="확인"><input type="reset" value="초기화"><input type="button" value="취소" onclick="location.href='admin.html'"></td>  
              </tbody>
            </table>
          </div>
        </fieldset>
        <%- include("./partials/footer.ejs") %>
      </form>
    </body>
</html>