<!DOCTYPE html>
<html lang="kr">
    <head>
        <title>CCTV Service</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <%- include("./partials/userHeader.ejs") %>
        <h1><a href="admin.html">CCTV 서비스</a></h1>
        <hr>   
	    <form> 
            <%- include("./partials/button.ejs") %>        
        </form>    
    </body>
</html>